:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background: #DDE6ED;
}

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1rem;
  background: #004e98;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.header-title-link {
  color: #edf2f4;
}

.header-title-text {
  font-size: 1.7em;
}

.nav-link {
  margin-left: 0.5rem;
}

.user-name {
  color: #fff;
}

.logout-btn {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 0.5rem;
}

.pages {
  min-height: 100vh;
  max-width: 85rem;
  padding: 1rem;
  margin: 0 auto;
}

.login-form,
.signup-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
}

.home {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 100px;
}

.workout-details {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border-radius: 0.3rem;
  background: #e0fbfc;
  -webkit-box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 1);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 1.2em;
  color: #000;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  font-size: 28px;
  color: #000;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

input.error {
  border: 1px solid var(--error);
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 7em;
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 1rem;
  z-index: 1000;
  color: #ffffff;
  background: #1B2430;
}